body {
  font-family: "Kumbh Sans", sans-serif;
}

.show-sm {
  display: block;
}
.show-lg {
  display: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.icon {
  cursor: pointer;
}

.brighter-text {
  color: var(--blue-700);
}

.text-uppercase {
  text-transform: uppercase;
}

button {
  cursor: pointer;
  white-space: nowrap;
  border: none;
  background-color: transparent;
}

.btn-orange {
  background-color: var(--orange);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 4vw, 1.3rem);
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  font-weight: 600;
  margin: 0 auto;
  font-size: clamp(0.8rem, 4vw, 1rem);
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(1.1);
  }
}

/*================= HEADER =================*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--white);

  .icon {
    min-width: 1rem;
  }
}

.header_left,
.header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*================= HEADER HAMBURGUER MENU =================*/

.header_hamburguer-menu {
  align-items: center;
  justify-content: center;
  transform: translateY(3px);
}

.header_menu-wrapper {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.3s;
}

.header_menu {
  padding: 2rem 0.8rem;
  width: 60%;
  max-width: 21.25rem;
  min-height: 100vh;
  background-color: var(--blue-400);
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}

.nav_header {
  margin-top: 2rem;
}

.header_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.header_list_item {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;

  a {
    display: block;
    width: 100%;
    color: var(--blue-900);
    text-decoration: none;
  }
}

#hamburguer_menu:checked ~ .header_menu-wrapper {
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#hamburguer_menu:checked ~ .header_menu-wrapper > .header_menu {
  transform: translateX(0);
}

#close_hamburguer_menu:checked ~ .header_menu > .nav_header {
  transform: translateX(-100%);
}

/*================= HEADER LOGO =================*/
.header_logo {
  font-size: 2rem;
  font-weight: 900;

  a {
    color: var(--blue-900);
    text-decoration: none;
  }
}

/*================= HEADER RIGHT =================*/
.header_right {
  justify-content: end;
  gap: clamp(1.1rem, 10vw, 3.3rem);
}

.header_cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_product-counter {
  color: var(--pale-orange);
  background-color: var(--orange);
  border-radius: 10px;
  padding: 0 0.5rem;
  position: absolute;
  left: auto;
  top: auto;
  transform: translate(12px, -11px);
  font-size: 0.8rem;
}

.cart_icon-header {
  width: 2rem;
}

.user_avatar-header {
  width: 3rem;
  img {
    border-radius: 50%;
  }
}

/*================= CART MODAL =================*/
#open-cart_modal:focus-visible + .header_cart {
  outline: 2px solid var(--orange);
  backdrop-filter: brightness(95%);
}

.header:has(#open-cart_modal:checked) + .cart_modal {
  display: flex;
}

.cart_modal {
  display: none;
  width: 95%;
  flex-direction: column;
  gap: 1rem;
  max-width: 34rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  top: 5rem;
  background-color: var(--white);
  border-radius: 12px;
  padding: 1.5rem 1rem;
  box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.47);
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: var(--blue-400);
}

.cart_products_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
}

.cart_product-image {
  width: 12%;
  min-width: 2.8rem;
  border-radius: 5px;
}

.cart_product-total {
  font-weight: bold;
}

.cart_message {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 5rem 0;
}

/*================= MAIN PRODUCT IMAGE =================*/
.product_main_image-container {
  position: relative;
}

.product_main_image-image {
  object-fit: cover;
  max-height: 37.5rem;
  width: 100%;
}

.product_main_image-arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 1rem;

  .icon {
    background-color: var(--white);
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
  }
}
/*================= PRODUCT INFO =================*/
.product_info {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product_company {
  text-transform: uppercase;
  color: var(--blue-700);
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 0.8rem;
}

.product_description {
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

/*================= PRODUCT PRICE =================*/
.product_price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product_price_left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.product_price-sale {
  font-weight: bolder;
  font-size: 1.5rem;
}

.product_price-discount {
  background-color: var(--black);
  padding: 0.2rem 0.5rem;
  color: var(--white);
  font-size: 0.8rem;
  border-radius: 4px;
}

.product_price-old {
  color: var(--blue-700);
  text-decoration: line-through;
}

/*================= PURCHASE ACTIONS =================*/
.purchase_actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 28rem;
  margin: 0 auto;
}

.quantity_counter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: var(--blue-500);
  border-radius: 8px;
  padding: 1rem;
}

.quantity_counter-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon_cart {
  width: clamp(1rem, 4vw, 1.3rem);
}
/*================= FOOTER =================*/
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 60rem) {
  .show-sm {
    display: none;
  }
  .show-lg {
    display: block;
  }

  .header {
    margin-bottom: 8rem;
    height: 10rem;
    align-items: start;
    padding-bottom: 0;
    padding-top: 4rem;
    box-shadow: 0px 9px 6px -2px rgba(0, 0, 0, 0.1);
  }

  .header_left {
    gap: clamp(1.5rem, 3vw,3rem);
    height: 100%;
    align-items: start;
  }

  .header_right {
    align-items: start;
  }

  .header_logo {
    font-size: 3rem;
    line-height: 0.4;
  }

  .header_menu-wrapper {
    opacity: 1;
    pointer-events: all;
    position: static;
    left: initial;
    top: initial;
    width: 100%;
    min-height: 0;
    height: 100%;
    background-color: transparent;
  }

  .header_menu {
    padding: 0;
    width: auto;
    max-width: none;
    min-height: auto;
    background-color: transparent;
    transform: translateX(0);
    height: 100%;
  }

  .nav_header {
    margin-top: 0;
    height: 100%;
  }

  .header_list {
    flex-direction: row;
    align-items: start;
    gap: clamp(1rem, 4vw, 3rem);
    height: 100%;
  }

  .header_list_item {
    padding: 0;
    font-weight: normal;
    opacity: 70%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      border-bottom: 2px solid var(--orange);
      opacity: 100%;
    }
  }

  .cart_icon-header {
    min-width: 2rem;
    width: 2rem;
    flex-shrink: 0;
  }

  .user_avatar-header {
    width: 3rem;
    min-width: 3rem;
    margin-top: -0.5rem;
  }

  .user_avatar-header:hover {
    img {
      outline: 2px solid var(--orange);
    }
  }

  .cart_modal {
    top: 10.5rem;
    left: 90%;
    transform: translateX(-80%);
    width: 25rem;

    .icon:hover {
      opacity: 1;
    }
  }

  .main {
    display: flex;
    padding: 0 2rem;
    gap: clamp(1rem, 3vw, 8rem);
    max-width: 1300px;
    margin: 0 auto;
  }

  .product_info-container,
  .product_images-container {
    flex: 1;
  }

  .product_images-container {
    display: flex;
    justify-content: end;
  }

  .product_images {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .product_images-carrousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button {
      outline: none;
      transition: opacity 0.3s ease-in-out;
    }

    button:focus-visible {
      opacity: 60%;
      img {
        outline: 3px solid var(--orange);
      }
    }

    button:hover {
      opacity: 60%;
    }

    img {
      border-radius: 15px;
    }
  }

  .product_images {
    max-width: 38rem;
  }

  .product_main_image-image {
    border-radius: 15px;
  }

  .product_info {
    height: 100%;
    justify-content: center;
  }

  .product_company {
    font-size: 1rem;
  }

  .product_name {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  .purchase_actions {
    flex-direction: row;
    max-width: none;
  }

  .product_price {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .quantity_counter-container {
    width: 60%;
  }

  .quantity_counter-icon {
    transition: opacity 0.3s ease-in-out;
  }

  .quantity_counter-icon:hover {
    opacity: 60%;
  }
}
